<!DOCTYPE html>
<html>
  <head>
    <title>CybrillaAssignment</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<div id="user_nav">
      <% if current_user %>
        Welcome, <%= current_user.email %>!
        <button><%= link_to "Sign Out", destroy_user_session_path, :method => :delete %></button>
      <% else %>
      	<button><%= link_to "Sign in", user_session_path%></button>
        <button><%= link_to "Sign in with Google", user_google_oauth2_omniauth_authorize_path %></button>
      <% end %>
    </div>
    <%= yield %>
  </body>
</html>
